{{ define "main" }}
    {{ partial "SideNavbar.html" . }}
    <main class="qp">
        <section class="qp-Content">
            <h1 class="qp-Title">{{ .Title }}</h1>
            {{ .Content }}
        </section>
        <section class="qp-ImageSlider">
            <div class="qp-wrapper">
            <div class="qp-Images_Container">
                {{ range .Params.images }} 
                <picture>
                    <source srcset="
                    {{- replaceRE  ".jpg" "-thumb.jpg 640w, " . -}}
                    {{- replaceRE  ".jpg" "-thumb@2x.jpg 1440w, " . -}}
                    {{ . }}"
                    alt="">
                    <img src="{{ . }}" srcset="{{ . }}" class="qp-Image">
                </picture>
                {{ end }}
            </div>
            <div class="qp-ImageSlider_Controls">
                {{ range $index, $v := .Params.images }} 
                <picture>
                    <source srcset='
                        {{- replaceRE  ".jpg" "-thumb.jpg 600w, " $v -}}
                        {{- replaceRE  ".jpg" "-thumb@2x.jpg 1440w, " $v -}}
                        {{- $v -}}' >
                    <img class="qp-Image_Control" src="{{- $v -}}" alt="" {{ if eq $index 0}}aria-current="true"{{ end }} data-index={{$index}}>
                </picture>
                {{ end }}
            </div>
            </div>
        </section>
        <form class="qp-Form" action="">
            <h1 class="qp-Form_Title">Request a Quote</h1>
            <p class="qp-Form_Motto">Drop us a message and we will reach back to you in no time!</p>

            <div class="qp-Form_Input">
                <input type="email" name="email" id="email" required>
                <label for="email">Email:</label>
            </div>
            <div class="qp-Form_Input">
                <input type="text" name="phone" id="subject" required>
                <label for="phone">Phone(s):</label>
            </div>
            <div class="qp-Form_MessageWrapper">
                <label for="message" class="qp-Message_Label">Tell us your {{ .Title }} needs:</label>
                <textarea id="message" name="message" rows="10" class="qp-Message_Textarea"></textarea>
            </div>
        </form>
        <div class="qp-ReactWrapper"></div>
    </main>
{{ end }}

{{ define "scripts" }}
    {{ $defines := dict "process.env.NODE_ENV" `"production"` }}

    {{ if .Site.IsServer }}
        {{ $defines = dict "process.env.NODE_ENV" `"development"`}}
    {{ end }}

    {{ $opts := dict "targetPath" "q-product.js" "defines" $defines "format" "cjs" }}
    {{ $component := resources.Get "scripts/quote-products.jsx" | js.Build $opts | resources.Fingerprint }}
    <script src="{{ $component.Permalink }}"></script>
{{ end }}
