:root {
  --primary-blue: #00AEEF;
  --light-blue: #00AAFE;
  --primary-red: #E40087;
  --primary-text: #393939;
  --primary-green: #00EFBD;
  --bezier: cubic-bezier(.82,.72,.32,.92);
}
$mq-md: "min-width: 450px";
$mq-mmd: "min-width: 768px";
$mq-lg: "min-width: 1300px";
* { box-sizing: border-box; }

@import "Header.scss";
@import "Nav.scss";
@import "SideNavbar.scss";
@import "Footer.scss";
@import "Product_Single.scss";
@import "ShoppingCart.scss";
@import "Minicart.scss";
@import "Homepage.scss";

body { padding: 0; margin: 0; font-size: 16px;}
h1, h2, h3, h4, p, button, span, pre, a, label, input, select, option { 
  color: var(--primary-text); 
  font-family: 'Nunito Sans';
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}
