.nv {
  box-sizing: border-box;
  overflow-x: auto;
  background-color: #fefefe;
  width: 100%;
  white-space: nowrap;
  margin-bottom: 0.5em;
  @media all and (min-width: 600px) {
    overflow-x: hidden;
  }
  @media ($mq-lg) {
    margin-bottom: 0;
  }
}

.nv-link {
  box-sizing: border-box;
  display: inline-block;
  font-size: 0.9em;
  padding: 0.5em 0 0 0.7em;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Nunito Sans';
  color: #023576;
  font-weight: 700;
  @media ($mq-mmd) { font-size: 0.7em; }
  @media all and ($mq-lg) {
    font-size: 1.5em;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  @media (min-width: 1440px) {
    font-size: 1.7em;
  }
} 
