.nv {
  box-sizing: border-box;
  overflow-x: auto;
  background-color: #fefefe;
  width: 100%;
  white-space: nowrap;
  margin-bottom: 0.5em;
  background: var(--primary-text);
  @media all and (min-width: 600px) {
    overflow-x: hidden;
  }
  @media ($mq-lg) {
    margin-bottom: 0;
  }
}

.nv-link {
  box-sizing: border-box;
  display: inline-block;
  font-size: 0.9em;
  padding: 0.5em 0 0 0.7em;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Nunito Sans';
  color: white;
  font-weight: 700;
  transition: color 0.26s;
  position: relative;
  z-index: 1;
  @media ($mq-mmd) { font-size: 0.7em; padding-left: 2em;}
  @media all and ($mq-lg) {
    font-size: 1.65em;
    padding: 0.3em 1em;
    margin-bottom: 0;
  }
  @media (min-width: 1440px) {
    font-size: 1.85em;
  }
  &::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: white;
    left: 0;
    top: 0;
    z-index: -1;
    transition: transform 0.26s;
    transform: scale3d(1,0,0);
    transform-origin: center top;
  }
  &:hover {
    color: var(--primary-text);
    &:after {
      transform: scale3d(1,1,1);
    }
  }
} 
