.pd {
  display: flex;
  flex-wrap: wrap;
  @media all and ($mq-mmd) {
    flex-wrap: nowrap;
  }
}

.pd-ImgSlider {
  overflow: hidden;
  margin: 2vw;
  box-shadow: -1px -1px 3px 0 rgba(0,0,0,0.2),1px 1px 2px 0 rgba(0,0,0,0.3);
  border: 1px solid var(--primary-blue);
  border-radius: 2px;
  align-self: start;
  @media screen and ($mq-mmd) {
    flex-basis: 42vw; flex-shrink: 0;
  }
  @media screen and ($mq-lg) {
    margin-top: 1em;
    flex-basis: 35vw; flex-shrink: 0;
  }
}

.pd-ImgContainer {
  display: flex;
  height: 98vw;
  transition: transform 0.33s;
  margin:0;
  transition-timing-function: cubic-bezier(.82,.72,.32,.92);
    @media screen and ($mq-mmd) {
    height: 42vw;
  }
  @media all and ($mq-lg) {
    height: 35vw;
  }
}

.pd-Img {
  width: 100%;
  height: auto;
}

.pd-ThumbContainer {
  padding: 0.5em;
  text-align: center;
}

.pd-Thumbnail {
  height: 2em;
  width: 2em;
  margin-right: 10px;
  cursor: pointer;
}

.pd-Content {
  display: flex;
  // flex-wrap: wrap;
  flex-grow: 0;
  // align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.pd-Title { 
  color: var(--primary-blue);
  margin: 0 0 18px 18px;
  padding: 0;
  @media screen and ($mq-mmd) {
    margin-top: 1em;
  }
}

.pd-Description {
  padding: 0 1em;
  p {margin-top: 0;}
}

.pd-PreConfig {
  border-radius: 2px;
  border: 1px solid var(--primary-blue);
  width: auto;
  cursor: pointer;
}

.pd-PreConfContainer {
  padding: 0 1em;
  margin-bottom: 1em;
  display: flex;
  flex-wrap: wrap;
  div:last-child {
    margin-bottom: 0;
  }
  @media screen and ($mq-md) {
    div:last-child {
      margin-bottom: 0.8em;
    }
  }
}

.pd-PreConfig {
  flex-shrink: 0;
  margin-bottom: 0.8em;
  margin-right: 1.5em;
  padding: 0.3em;
  border-radius: 2px;
  will-change: box-shadow;
  transition: box-shadow 0.333s;
  &:hover {
    box-shadow: 0 2px 3px 0 rgba(255,130,130,0.66);
  }
}
.pd-PreConfig_Active{
  position: relative;
  box-shadow: 0 2px 3px 0 rgba(255,130,130,0.66);
  &::after {
    content: '';
    position: absolute;
    bottom: 2px;
    left: calc(50% - 4px);
    width: 8px;
    height: 8px;
    border-radius: 4px;
    background: rgb(255, 130, 130);
    will-change: transform;
    animation: slideup 0.4s forwards;
    transform: scaleY(0);
    transform-origin: bottom center;
  }
}
.pd-PreConfig_Title { font-weight: 700; margin: 0; padding: 0; }
.pd-PreConfig_Price { font-weight: 700; margin: 0; padding: 0; color: var(--primary-red);}

.pd-PreConfigDetails {
  display: none;
  margin-bottom: 1em;
  h3 { margin: 0 0 0 1em; padding: 0; font-size: 1.3em; }
  p { padding: 0; margin: 0; margin-left: 2em; }
}

.pd-PreConfigDetails_Active { 
  display: block; 
  p {
    opacity: 0; 
    animation: fadeIn 0.666s ease-out forwards;
  }
}

.pd-AddToCart {
  border: 0;
  background: var(--primary-blue);
  font-size: 1.2em;
  font-weight: 700;
  color: var(--primary-text);
  padding: 0.5em 1em;
  margin-left: 1em;
  margin-bottom: 1em;
  cursor: pointer;
  @media all and ($mq-md) {
    // margin-left: auto;
    align-self: stretch;
    margin-right: 1em;
  }
}

.pd-CustomizeProduct {
  border: 0;
  display: block;
  background: var(--primary-green);
  font-size: 1.2em;
  font-weight: 700;
  color: var(--primary-text);
  padding: 0.5em 1em;
  margin-left: 1em;
  margin-bottom: 1em;
}

.pd-Configurator {
  background: var(--primary-green);
  font-weight: 600;
  position: relative;
  padding: 1.3em;
  span {
    position: relative;
    label { display: block; 
      margin-bottom: 0.3em;
      font-size: 1.3em;
      font-weight: 700;
      color: var(--primary-text);
    }
    input { 
      border-radius: 4px; 
      width: 100%;
      border: 0px;
      background: #f2f2f2;
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
      padding: 0.4em 0.6em;
      line-height: 2;
      &:focus {
        box-shadow: 0 0 3px 0 #39f, 0 1px 2px 0 rgba(0, 0, 0, 0.5);
      }
    }
  }
}

@keyframes slideup {
  from { transform: scaleY(0); }
  to { transform: scaleY(1); }
}
@keyframes fadeIn {
  from { opacity: 0;}
  to { opacity: 1;}
}
