.sb {
  width: 0px;
  box-sizing: border-box;
  padding-left: 1em;
  padding-top: 0.4em;
  width: 100vw;
  margin: 0;
  transition: transform 0.31s;
  transform: translate3d(-100%, 0, 0);
  transition-timing-function: cubic-bezier(.82,.72,.32,.92);
  position: absolute;
  background: radial-gradient(520.61% 145.15% at 121.62% 125.61%, #E40087 0%, #00AEEF 36.85%, #00AEEF 67.62%, rgba(0, 174, 239, 0.81) 81.66%, rgba(255, 255, 255, 0) 100%);
  ul {
    position: relative;
    list-style: none;
    padding: 0;
    margin-top: 0;
  }
  &.sb-visible {
    transform: translate3d(0,0,0);
  }
}

@media all and (min-width: 600px) {
  .sb {
    transform: translate3d(0,0,0);
    width: 200px;
    position: relative;
    // display: inline-block;
    float: left;
  }
}

.sb-Product {
  color: white;
  font-family: 'Nunito Sans';
  font-weight: 600;
  text-decoration: none;
  text-transform: capitalize;
  padding: 0.5em 0;
  margin: 0;
  display: inline-block;
}
