<header>
    <a id="logo" href=""><img class="logo" src="/img/logo-horz.png" alt=""></a>
    <span class="socialmedia">
        <a class="mediaicon__wrapper" href=""><img class="mediaicon" src="/img/social/facebook.png" alt=""></a>
        <a class="mediaicon__wrapper" href=""><img class="mediaicon" src="/img/social/twitter.png" alt=""></a>
        <a class="mediaicon__wrapper" href=""><img class="mediaicon" src="/img/social/instagram.png" alt=""></a>
    </span>
    <div data-layout="SMALL_ICON_COUNTER" data-icon="CART" class="ec-cart-widget"></div>
    <div>
    <script data-cfasync="false" type="text/javascript" src="https://app.ecwid.com/script.js?30988390&data_platform=code&data_date=2020-06-09" charset="utf-8"></script>
    <script type="text/javascript">Ecwid.init();</script>
    </div>
</header>
