<header>
    <a id="logo" href="/"><img class="logo" src="/img/logo-horz.png" alt=""></a>
    <span class="socialmedia">
        <a class="mediaicon__wrapper" href=""><img class="mediaicon" src="/img/social/facebook.png" alt=""></a>
        <a class="mediaicon__wrapper" href=""><img class="mediaicon" src="/img/social/twitter.png" alt=""></a>
        <a class="mediaicon__wrapper" href=""><img class="mediaicon" src="/img/social/instagram.png" alt=""></a>
    </span>
    {{ partial "hd-ShoppingCart.html" . }}
</header>
