    <section class="pc-caroussel">
        <div class="pc-caroussel_ImagesContainer">
            <div class="pc-caroussel_Item">
                <img class="pc-caroussel_Image" src="/img/caroussel/vehicle-wrapping.JPG" alt="" data-index="0">
                <h1 class="pc-caroussel_ImageTitle">Vehicle wrapping</h1>
                <a href="/products/vehicle-wrapping" class="pc-caroussel_ItemCTA"><button >Get a quote</button></a>
                <div class="pc-caroussel_ItemLegend">
                    <ul>
                        <li>Promote your business everywhere</li>
                        <li>Get anything from a door to full vehicle wrapping</li>
                        <li>24 - 48 hours delivery</li>
                    </ul>
                </div>
            </div>

            <div class="pc-caroussel_Item">
                <img class="pc-caroussel_Image" src="/img/caroussel/channel-lettering.jpg" alt="" data-index="1">
                <h1 class="pc-caroussel_ImageTitle">Channel Lettering</h1>
                <div class="pc-caroussel_ItemLegend">
                    <ul>
                        <li>Custom lettering in all formats, we are capable of accomodating to your brand 100%</li>
                        <li>Our team takes care of the installation</li>
                        <li>Make your business stand out and get 24-48 hours delivery</li>
                    </ul>
                </div>
                <a href="/products/channel-lettering" class="pc-caroussel_ItemCTA"><button >Get a quote</button></a>
            </div>
            
            <div class="pc-caroussel_Item">
                <img class="pc-caroussel_Image" src="/img/caroussel/truck-lettering.jpg" alt="" data-index="3">
                <h1 class="pc-caroussel_ImageTitle">Truck Lettering</h1>
                <a href="/products/truck-lettering" class="pc-caroussel_ItemCTA"><button >Get a quote</button></a>
                <div class="pc-caroussel_ItemLegend">
                    <ul>
                        <li>Vehicle lettering for commercial purposes, display your business wherever you go</li>
                        <li>We service your business and help fulfill your compliance requirements for vehicles</li>
                    </ul>
                </div>
            </div>

            <div class="pc-caroussel_Item">
                <img class="pc-caroussel_Image" src="/img/caroussel/vinyl-sign.jpg" alt="" data-index="2">
                <h1 class="pc-caroussel_ImageTitle">Banners & Signs</h1>
                <a href="/products/banners-and-signs" class="pc-caroussel_ItemCTA"><button >Get a quote</button></a>
                <div class="pc-caroussel_ItemLegend">
                    <ul>
                        <li>Banners for all purposes</li>
                        <li>We deliver high quality indoors and outdoors banners and signs to promote your brand</li>
                    </ul>
                </div>
            </div>
            <div class="pc-caroussel_Item">
                <img class="pc-caroussel_Image" src="/img/caroussel/coroplast-sign.jpg" alt="" data-index="4">
                <h1 class="pc-caroussel_ImageTitle">Real State Signs</h1>
                <a href="/products/real-state-signs" class="pc-caroussel_ItemCTA"><button >Get a quote</button></a>
                <div class="pc-caroussel_ItemLegend">
                    <ul>
                        <li>100% customizable and durable signs made in coroplast</li>
                        <li>We also provide a range of standard options and sizes</li>
                    </ul>
                </div>
            </div>
            <!-- <div class="pc&#45;caroussel_Item"> -->
            <!--     <img class="pc&#45;caroussel_Image" src="/img/caroussel/out&#45;sticker.jpg" alt="" data&#45;index="5"> -->
            <!-- </div> -->
        </div>
        <div class="pc-caroussel_Controls">
            <button class="pc-caroussel_Control" type="button" data-index="0" aria-current="true"></button>
            <button class="pc-caroussel_Control" type="button" data-index="1"></button>
            <button class="pc-caroussel_Control" type="button" data-index="2"></button>
            <button class="pc-caroussel_Control" type="button" data-index="3"></button>
            <button class="pc-caroussel_Control" type="button" data-index="4"></button>
            <!-- <button class="pc&#45;caroussel_Control" type="button" data&#45;index="5"></button> -->
        </div>
    </section>

