<section class="sb {{if .IsHome}}pc-sb{{ end}}">
    <!-- <ul> -->
    {{ range where $.Site.RegularPages "Section" "products" }}
        <!-- <li> -->
            <!-- <a class="sb&#45;Product" href="{{ .RelPermalink }}">{{ .Params.name }}</a> -->
        <!-- </li> -->
    {{ end }}
   <!-- </ul> -->

    <h6 class="sb-Category">Vehicle Marketing</h6>
    <ul>
        <li><a class="sb-Product" href="/products/truck-lettering/">Truck Lettering</a></li>
        <li><a class="sb-Product" href="/products/vehicle-wrapping/">Vehicle Wrapping</a></li>
    </ul>

    <h6 class="sb-Category">Digital products</h6>
    <ul>
        <li><a class="sb-Product" href="/products/vehicle-wrapping/">Websites</a></li>
        <li><a class="sb-Product" href="/products/vehicle-wrapping/">Facebook advertising</a></li>
        <li><a class="sb-Product" href="/products/vehicle-wrapping/">Apps</a></li>
    </ul>
    <h6 class="sb-Category">Offset & Digital Printing</h6>
    <ul>
        <li><a class="sb-Product" href="/products/menus/">Menus</a></li>
        <li><a class="sb-Product" href="/products/brochures/">brochures</a></li>
        <li><a class="sb-Product" href="/products/magazines/">magazines</a></li>
        <li><a class="sb-Product" href="/products/books/">books</a></li>
        <li><a class="sb-Product" href="/products/calendars/">calendars</a></li>
        <li><a class="sb-Product" href="/products/flyers/">flyers</a></li>
        <li><a class="sb-Product" href="/products/business-cards/">business cards</a></li>
        <li><a class="sb-Product" href="/products/letterheads/">letterheads</a></li>
        <li><a class="sb-Product" href="/products/envelopes/">envelopes</a></li>
        <li><a class="sb-Product" href="/products/logo-design/">logo design</a></li>
        <li><a class="sb-Product" href="/products/offset-printing/">Offset Printing</a></li>
        <li><a class="sb-Product" href="/products/direct-mail/">Direct Mail</a></li>
    </ul>

    <h6 class="sb-Category">Signs</h6>
    <ul>

        <!-- <li> <a class="sb&#45;Product" href="/products/channel&#45;lettering/"></a> </li> -->
        <li> <a class="sb-Product" href="/products/real-state-signs/">Real State Signs</a> </li>
        <li> <a class="sb-Product" href="/products/banners-and-signs/">Banners & Signs</a> </li>
    </ul>

    <h6 class="sb-Category">Installations & Tradeshow</h6>
    <ul>
        <li> <a class="sb-Product" href="/products/window-and-wall-stickers/">Window & wall stickers</a> </li>
        <li> <a class="sb-Product" href="/products/channel-lettering/">Channel Lettering</a> </li>
        <li> <a class="sb-Product" href="/products/tents/">Tents</a> </li>
    <ul>

    <h6 class="sb-Category">Silk Screen</h6>
    <ul>

        <li> <a class="sb-Product" href="/products/apron/">Apron</a> </li>

        <li> <a class="sb-Product" href="/products/cap-solid/">Cap (Solid)</a> </li>

        <li> <a class="sb-Product" href="/products/cap/">Cap</a> </li>

        <li> <a class="sb-Product" href="/products/hoodie/">Hoodie</a> </li>

        <li> <a class="sb-Product" href="/products/jacket-full-zip/">Jacket (Full Zip)</a> </li>

        <li> <a class="sb-Product" href="/products/jacket-weatherproof/">Jacket (Weatherproof)</a> </li>

        <li> <a class="sb-Product" href="/products/jacket-full-zip-womens-jacket/">Jacket, full zip women&#39;s jacket</a> </li>

        <li> <a class="sb-Product" href="/products/nylon-vest-with-fleece-sleves/">Nylon vest with fleece sleves</a> </li>

        <li> <a class="sb-Product" href="/products/performance-sport-shirt/">Performance Sport Shirt</a> </li>

        <li> <a class="sb-Product" href="/products/performance-youth-sport-shirt/">Performance Youth Sport Shirt</a> </li>

        <li> <a class="sb-Product" href="/products/polo-pique-sport-shirt/">Polo Pique Sport Shirt</a> </li>

        <li> <a class="sb-Product" href="/products/safety-colors-long-sleeve-t-shirt/">Safety Colors Long Sleeve T-Shirt</a> </li>

        <li> <a class="sb-Product" href="/products/safety-vest/">Safety Vest</a> </li>

        <li> <a class="sb-Product" href="/products/t-shirt/">T-shirt</a> </li>

        <li> <a class="sb-Product" href="/products/waist-apron/">Waist Apron</a> </li>



   </ul>
</section>

