{{ define "main" }}

    {{ partial "SideNavbar.html" }}

    <main class="pd-grid">
        <section class="pd-featured">
    <div class="pd-featured_ImageContainer"><img class="pd-featured_Image" src="/img/sneezeguard1.png" alt=""></div>
            <div class="pd-featured_Info">
                <h2 class="pd-featured_Title">Protective Sneeze Guard</h2>
                <p class="pd-featured_Description">Protect your personel and customers using this product.</p>
                <span class="pd-featured_Price">Starts at $9,99</span>
                <button class="pd-featured_Cta">Order Now</button>
            </div>
        </section>
        <section class="pd-featured">
    <div class="pd-featured_ImageContainer"><img class="pd-featured_Image" src="/img/sneezeguard1.png" alt=""></div>
            <div class="pd-featured_Info">
                <h2 class="pd-featured_Title">Protective Sneeze Guard</h2>
                <p class="pd-featured_Description">Protect your personel and customers using this product.</p>
                <span class="pd-featured_Price">Starts at $9,99</span>
                <button class="pd-featured_Cta">Order Now</button>
            </div>
        </section>
        <section class="pd-standard">
    <div class="pd-standard_ImageContainer"><img class="pd-standard_Image" src="/img/sneezeguard1.png" alt=""></div>
            <div class="pd-standard_Info">
                <h2 class="pd-standard_Title">Protective Sneeze Guard</h2>
                <p class="pd-standard_Description">Protect your personel and customers using this product.</p>
                <span class="pd-standard_Price">Starts at $9,99</span>
                <button class="pd-standard_Cta">Order Now</button>
            </div>
        </section>
        <section class="pd-standard">
    <div class="pd-standard_ImageContainer"><img class="pd-standard_Image" src="/img/sneezeguard1.png" alt=""></div>
            <div class="pd-standard_Info">
                <h2 class="pd-standard_Title">Protective Sneeze Guard</h2>
                <p class="pd-standard_Description">Protect your personel and customers using this product.</p>
                <span class="pd-standard_Price">Starts at $9,99</span>
                <button class="pd-standard_Cta">Order Now</button>
            </div>
        </section>
        <section class="pd-standard">
    <div class="pd-standard_ImageContainer"><img class="pd-standard_Image" src="/img/sneezeguard1.png" alt=""></div>
            <div class="pd-standard_Info">
                <h2 class="pd-standard_Title">Protective Sneeze Guard</h2>
                <p class="pd-standard_Description">Protect your personel and customers using this product.</p>
                <span class="pd-standard_Price">Starts at $9,99</span>
                <button class="pd-standard_Cta">Order Now</button>
            </div>
        </section>
        <section class="pd-standard">
    <div class="pd-standard_ImageContainer"><img class="pd-standard_Image" src="/img/sneezeguard1.png" alt=""></div>
            <div class="pd-standard_Info">
                <h2 class="pd-standard_Title">Protective Sneeze Guard</h2>
                <p class="pd-standard_Description">Protect your personel and customers using this product.</p>
                <span class="pd-standard_Price">Starts at $9,99</span>
                <button class="pd-standard_Cta">Order Now</button>
            </div>
        </section>
        <section class="pd-standard">
    <div class="pd-standard_ImageContainer"><img class="pd-standard_Image" src="/img/sneezeguard1.png" alt=""></div>
            <div class="pd-standard_Info">
                <h2 class="pd-standard_Title">Protective Sneeze Guard</h2>
                <p class="pd-standard_Description">Protect your personel and customers using this product.</p>
                <span class="pd-standard_Price">Starts at $9,99</span>
                <button class="pd-standard_Cta">Order Now</button>
            </div>
        </section>
    </main>
      <!-- Blocks may include default content. -->
      <!-- Blocks may include default content. -->
{{ end }}
