{{ define "main" }}

<!-- <div><img src="/img/swatches.png" alt=""></div> -->
    {{ partial "SideNavbar.html" . }}
    {{ partial "HomeCaroussel.html" . }}
    <main class="pc-grid">
        {{ range $product := where (where .Site.RegularPages "Section" "products") ".Params.type" "!=" "quote" | first 3 }}
        <section class="pc-featured">
            <div class="pc-featured_ImagesContainer">
                {{ range $src := $product.Params.media.images }}
                <img class="pc-featured_Image" src="{{ $src.imageOriginalUrl }}" alt=""  style="object-fit: cover;">
                {{ end }}
            </div>
            <div class="pc-featured_ThumbnailContainer">
                {{ range $index, $src := $product.Params.media.images }}
                <a href=""><img class="pc-featured_Thumbnail" src="{{ $src.image160pxUrl }}" alt="" data-index="{{ $index }}"></a>
                {{ end }}
            </div>
            <div class="pc-featured_Info">
                <a href="{{$product.Permalink}}"><h2 class="pc-featured_Title">{{ $product.Params.name }}</h2></a>
                <section class="pc-featured_Description">{{ safeHTML $product.Params.description }}</section>
                <span class="pc-featured_Price">Starts at ${{ .Params.Price }}</span>
                <a class="pc-featured_Cta" href="{{ $product.Permalink }}">Order Now</a>
            </div>
        </section>
        {{ end }}
        {{ range $product := where (where .Site.RegularPages "Section" "products") ".Params.type" "!=" "quote" | after 3}}
            <section class="pc-standard">
                <div class="pc-standard_ImageContainer">
                    {{ $src := index $product.Params.media.images 0}}
                    <img class="pc-standard_Image" src="{{ $src.imageOriginalUrl }}" alt=""  >
                </div>
                <div class="pc-standard_Info">
                    <h2 class="pc-standard_Title">{{ $product.Params.name }}</h2>
                    <section class="pc-featured_Description">{{ safeHTML $product.Params.description }}</section>
                    <span class="pc-standard_Price">Starts at ${{ .Params.Price }}</span>
                    <a class="pc-standard_Cta" href="{{ $product.Permalink }}">Order Now</a>
                </div>
            </section>
        {{ end }} 
    </main>
{{ end }}
