{{ define "scripts" }}

    {{ $defines := dict "process.env.NODE_ENV" `"production"` }}

    {{ if .Site.IsServer }}
        {{ $defines = dict "process.env.NODE_ENV" `"development"`}}
    {{ end }}

    {{ $opts := dict "targetPath" "q-product.js" "defines" $defines "format" "cjs" }}
    {{ $component := resources.Get "scripts/quote-products.jsx" | js.Build $opts | resources.Fingerprint }}

    <script src="{{ $component.Permalink }}"></script>

{{ end }}

{{ define "main" }}

    {{ partial "SideNavbar.html" . }}
    <main class="pd">
        <div class="pd-ImgSlider">
            <div class="pd-ImgContainer">
                {{ range $url := .Params.Media.Images }}
                <img class="pd-Img" src="{{ $url.imageOriginalUrl }}" alt="" style="object-fit: cover">
                {{ end }}
            </div>
            <div class="pd-ThumbContainer">
                {{ range $index, $url := .Params.Media.Images }}
                <img class="pd-Thumbnail" src="{{- $url.image160pxUrl -}}" alt="" data-index="{{- $index -}}">
                {{ end }}
            </div>
        </div>
        <section class="pd-Content" id="product">
            <h1 class="pd-Title">{{- .Params.name -}}</h1>
            <div class="pd-Description">
                <p>{{ safeHTML .Params.description }}</p>
            </div>
            {{ partial "optionsrender.html" . }}
            <div class="pd-VariationContainer">
            {{ range $index, $item := .Params.preconfig }}
            <div class="pd-Variation {{ if eq $index 0}}pd-Variation_Active{{ end }}" data-preconfig="{{- $index -}}">
                <p class="pd-Variation_Title" data-preconfig="{{- $index -}}">{{ $item.title }}</p>
                <p class="pd-Variation_Price" data-preconfig="{{- $index -}}">${{ $item.price }}</p>
            </div>
            {{ end }}
            </div>
            {{ range $index, $item := .Params.preconfig }}
            <div class="pd-VariationDetails {{ if eq $index 0}}pd-VariationDetails_Active{{ end }}" data-conf="{{- $index -}}">
                <h3>Configuration Characteristics</h3>
                <p>{{- $item.body | safeHTML -}}</p>
            </div>
            {{ end }}
            <button class="pd-AddToCart">Add to Cart</button>
        </section>
    </main>
    <!-- <button class="pd&#45;CustomizeProduct">Customize your products</button> -->

    <!-- <div class="pd&#45;Configurator"> -->
    <!--     <span> -->
    <!--         <label for="windowdecals">Window Decals</label> -->
    <!--         <input id="windowdecals" name="windowdecals" type="text"> -->
    <!--     </span> -->
    <!-- </div> -->

    <script src="/js/product.js"></script>
{{ end }}
